@model IEnumerable<string>
@{
    ViewData["Title"] = "LinqDistinct";
}

<h1>LinqDistinct</h1>

@foreach (var item in Model)
{
    <div>@item</div>
}
<div>بر روی یک مجموعه عمل و عضو های تکراری را حذف می کند.</div>
<div><img src="~/images/D-1.png" /></div>