@model IEnumerable<string>
@{
    ViewData["Title"] = "LinqUnion";
}

<h1>LinqUnion</h1>

@foreach (var item in Model)
{
    <div>@item</div>
}
<div>دو یا چند مجموعه را به یک مجموعه با عضوهای غیر تکراری تبدیل می کند (عمل اجتماع)</div>
<div><img src="~/images/U-1.png" /></div>