@model IEnumerable<string>
@{
    ViewData["Title"] = "LinqIntersect";
}

<h1>LinqIntersect</h1>

@foreach (var item in Model)
{
    <div>@item</div>
}
<div> بر روی دو یا چند مجموعه عمل اشتراک گیری را انجام می دهد و عضو(های) مشترک را مشخص می کند</div>
<div><img src="~/images/I-1.png" /></div>