@model IEnumerable<Linq.Controllers.Student1>
@{
    ViewData["Title"] = "ThenByDescending1";
}

<h1>ThenByDescending1</h1>

@foreach (var item in Model)
{
    <div>@item.Name - @item.Age - @item.Average</div>
}