@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <p><a asp-controller="Default" asp-action="LinqSelect">LinqSelect</a></p>
    <p><a asp-controller="Default" asp-action="LinqSelectMany">LinqSelectMany</a></p>
    <p><a asp-controller="Default" asp-action="LinqSelectMany2">LinqSelectMany2</a></p>
    <p><a asp-controller="Default" asp-action="LinqOrderby1">LinqOrderby1</a></p>
    <p><a asp-controller="Default" asp-action="LinqOrderby2">LinqOrderby2</a></p>
    <p><a asp-controller="Default" asp-action="OrderByDescending">OrderByDescending</a></p>
    <p><a asp-controller="Default" asp-action="OrderByDescending1">OrderByDescending1</a></p>
    <p><a asp-controller="Default" asp-action="ThenBy1">ThenBy1</a></p>
    <p><a asp-controller="Default" asp-action="ThenByDescending1">ThenByDescending1</a></p>
    <p><a asp-controller="Default" asp-action="LinqReverse">LinqReverse</a></p>
    <p><a asp-controller="Default" asp-action="LinqWhere1">LinqWhere1</a></p>
    <p><a asp-controller="Default" asp-action="LinqWhere2">LinqWhere2</a></p>
    <p><a asp-controller="Default" asp-action="LinqWhere3">LinqWhere3</a></p>
    <p><a asp-controller="Default" asp-action="LinqOfType1">LinqOfType1</a></p>
    <p><a asp-controller="Default" asp-action="LinqOfType2">LinqOfType2</a></p>
    <p><a asp-controller="Default" asp-action="LinqUnion">LinqUnion</a></p>
    <p><a asp-controller="Default" asp-action="LinqConcat">LinqConcat</a></p>
    <p><a asp-controller="Default" asp-action="LinqIntersect">LinqIntersect</a></p>
    <p><a asp-controller="Default" asp-action="LinqDistinct">LinqDistinct</a></p>
    <p><a asp-controller="Default" asp-action="LinqExcept">LinqExcept</a></p>
    <p><a asp-controller="Default" asp-action="LinqInnerJoin">LinqInnerJoin</a></p>
    <p><a asp-controller="Default" asp-action="LinqLeftOuterJoin">LinqLeftOuterJoin</a></p>
    <p><a asp-controller="Default" asp-action="LinqCrossJoin">LinqCrossJoin</a></p>
    <p><a asp-controller="Default" asp-action="LinqGroupJoin">LinqGroupJoin</a></p>
    <p><a asp-controller="Default" asp-action="LinqTake">LinqTake</a></p>
    <p><a asp-controller="Default" asp-action="LinqTakeWhile">LinqTakeWhile</a></p>
    <p><a asp-controller="Default" asp-action="LinqSkip">LinqSkip</a></p>
    <p><a asp-controller="Default" asp-action="LinqSkipWhile">LinqSkipWhile</a></p>
    <p><a asp-controller="Default" asp-action="LinqToList">LinqToList</a></p>
    <p><a asp-controller="Default" asp-action="LinqToArray">LinqToArray</a></p>
    <p><a asp-controller="Default" asp-action="LinqToLookup">LinqToLookup</a></p>
    <p><a asp-controller="Default" asp-action="LinqToLookup2">LinqToLookup2</a></p>
    <p><a asp-controller="Default" asp-action="LinqCast">LinqCast</a></p>
    <p><a asp-controller="Default" asp-action="LinqAsEnumerable">LinqAsEnumerable</a></p>
    <p><a asp-controller="Default" asp-action="LinqToDictionary">LinqToDictionary</a></p>
    <p><a asp-controller="Default" asp-action="LinqAggregate">LinqAggregate</a></p>
    <p><a asp-controller="Default" asp-action="LinqGroupBy">LinqGroupBy</a></p>
    <p><a asp-controller="Default" asp-action="LinqSequenceEqual">LinqSequenceEqual</a></p>
    <p><a asp-controller="Default" asp-action="LinqRange">LinqRange</a></p>
    <p><a asp-controller="Default" asp-action="LinqRepeat">LinqRepeat</a></p>
</div>
