
@{
    ViewData["Title"] = "SetSession";
}

<h1>Default1 :: SetSession</h1>
<br />
<form action="SetSession" method="post">

    <div>What is your name:</div>
    <input type="text" name="name" value="" />

    <input type="submit" name="submitButton" value="Submit" />

</form>